body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h1 {
    color: #2ecc71;
    margin-bottom: 20px;
}

.info {
    margin-top: 30px;
}

.label {
    font-weight: bold;
    color: #333;
}

.category {
    background-color: #e6e6e6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.profile img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 30px;
}

.social {
    margin-top: 30px;
}

.social a {
    display: inline-block;
    margin: 0 15px;
}

.social img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.social img:hover {
    transform: scale(1.2);
}